<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station météo - Historique</title>
</head>

<body>
    <!--side bar-->
    <nav>
        <img src="static\icone.png" alt="icone" id="logo" class="logo">
        <div class="link">
            <hr>
            <a href="/"><h2>Accueil</h2></a>
            <hr>
            <ul>
                <li><a href="/">Données</a></li>
                <li><a href="a_propos">À propos</a></li>
                <li><a href="statistique">Statistique</a></li>
                <li><a href="historique">Historique</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="https://github.com/pj43svh/MA-Metier-Station-Meteo">Github</a></li>
                <li><a href="https://cpnv.ch">Cpnv</a></li>
                <li><a href="https://trello.com/b/mbKZJSjJ/station-m%C3%A9t%C3%A9o-esp32-rpi">Trello</a></li>
            </ul>
            <hr>
        </div>
    </nav>
    <div>
        <section id="historique" class="card">
            <h1>Historique</h1>
            <div class="history-card">
                <table id="history-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Température</th>
                            <th>Humidité (%)</th>
                            <th>Pression (hPa)</th>
                            <th>Temps</th>
                        </tr>
                    </thead>
                    <tbody id="history-body">
                        <tr>
                            <th>01.01.2000</th>
                            <th>0 °C</th>
                            <th>0 %</th>
                            <th>0 hPa</th>
                            <th>☀️</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <script src="/static/historique.js"></script>

</body>

</html>