<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather station - Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
</head>

<body>
    <!--side bar-->
    <nav>
        <img src="static\icone.png" alt="icone" id="logo" class="logo">
        <div class="link">
            <hr>
            <a href="/"><h2>Home</h2></a>
            <hr>
            <ul>
                <li><a href="/">Datas</a></li>
                <li><a href="about">about</a></li>
                <li><a href="statistical">statistical</a></li>
                <li><a href="history">history</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="https://github.com/pj43svh/MA-Metier-Station-Meteo">Github</a></li>
                <li><a href="https://cpnv.ch">Cpnv</a></li>
                <li><a href="https://trello.com/b/mbKZJSjJ/station-m%C3%A9t%C3%A9o-esp32-rpi">Trello</a></li>
            </ul>
            <hr>
        </div>
    </nav>
    <div>
        <h1>DASHBOARD</h1>

        <div class="content">
            <div class="sensors" id="sensor1">

                <h1>Sensor 1</h1>

                <div class="data">
                    <h2>Temperature :</h2>
                    <p id="temperature1">X °C</p>
                </div>

                <div class="data">
                    <h2>Pressure :</h2>
                    <p id="pressure1">X hPa</p>
                </div>

                <div class="data">
                    <h2>Humidity level :</h2>
                    <p id="humidity1">X %</p>
                </div>

            </div>

            <div class="sensors" id="sensor2">

                <h1>Sensor 2</h1>

                <div class="data">
                    <h2>Temperature :</h2>
                    <p id="temperature2">X °C</p>
                </div>

                <div class="data">
                    <h2>Pressure :</h2>
                    <p id="pressure2">X hPa</p>
                </div>

                <div class="data">
                    <h2>Humidity level :</h2>
                    <p id="humidity2">X %</p>
                </div>

            </div>

        </div>
    </div>
    </div>



    <script src="/static/js/data.js"></script>

</body>

</html>