<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station météo - Dashboard</title>
</head>

<body>
    <!--side bar-->
    <nav>
        <img src="static\icone.png" alt="icone" id="logo" class="logo">
        <div class="link">
            <hr>
            <a href="">
                <h2>Accueil</h2>
            </a>
            <hr>
            <ul>
                <li><a href="">Données</a></li>
                <li><a href="a_propos">À propos</a></li>
                <li><a href="statistique">Statistique</a></li>
                <li><a href="historique">Historique</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="https://github.com/pj43svh/MA-Metier-Station-Meteo">Github</a></li>
                <li><a href="https://cpnv.ch">Cpnv</a></li>
                <li><a href="https://trello.com/b/mbKZJSjJ/station-m%C3%A9t%C3%A9o-esp32-rpi">Trello</a></li>
            </ul>
            <hr>
        </div>
    </nav>
    <div>
        <h1>DASHBOARD</h1>

        <div class="content">

            <div class="donnee">
                <h2>Température :</h2>
                <p id="temperature">X °C</p>
            </div>

            <div class="donnee">
                <h2>Pression :</h2>
                <p id="pression">X hPa</p>
            </div>

            <div class="donnee">
                <h2>Taux d'humidité :</h2>
                <p id="humidite">X %</p>
            </div>

            <div class="donnee">
                <h2>Temps :</h2>
                <p id="temps">X</p>
            </div>

        </div>
    </div>
    </div>



    <script>
        function updateTemperature() {
            fetch('/api/temperature')
                .then(response => response.text())
                .then(text => {
                    document.getElementById('temperature').textContent = text + ' °C';
            });
        }

        function updatePression() {
            fetch('/api/pression')
                .then(response => response.text())
                .then(text => {
                    document.getElementById('pression').textContent = text + ' hPa';
            });
        }

        function updateHumidite() {
            fetch('/api/humidite')
                .then(response => response.text())
                .then(text => {
                    document.getElementById('humidite').textContent = text + ' %';
            });
        }

        function updateTemps() {
            fetch('/api/temps')
                .then(response => response.text())
                .then(text => {
                    document.getElementById('temps').textContent = text;
            });
        }

        // Met à jour dès le chargement
        updateTemperature();
        updatePression();
        updateHumidite();
        updateTemps();

        // Met à jour toutes les 10 secondes
        setInterval((updateTemperature), 10000);
        setInterval((updatePression), 10000);
        setInterval((updateHumidite), 10000);
        setInterval((updateTemps), 10000);
    </script>

</body>

</html>