<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10"> <!-- Rafraîchit toutes les 30s -->
    <title>Station météo - Statistique</title>
</head>

<body>
    <!--side bar-->
    <nav>
        <img src="static\icone.png" alt="icone" id="logo" class="logo">
        <div class="link">
            <hr>
            <a href="/"><h2>Accueil</h2>
            </a>
            <hr>
            <ul>
                <li><a href="/">Données</a></li>
                <li><a href="a_propos">À propos</a></li>
                <li><a href="statistique">Statistique</a></li>
                <li><a href="historique">Historique</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="https://github.com/pj43svh/MA-Metier-Station-Meteo">Github</a></li>
                <li><a href="https://cpnv.ch">Cpnv</a></li>
                <li><a href="https://trello.com/b/mbKZJSjJ/station-m%C3%A9t%C3%A9o-esp32-rpi">Trello</a></li>
            </ul>
            <hr>
        </div>
    </nav>
    <div>
        <h1>Statistique</h1>

        <div class="content">

            <div class="card" id="graphique_pluie">
                <img src="/static/graph_temperatures.png" alt="Graphique Temperature" style="max-width: 100%; height: auto;" class="graphique">
            </div>

            <div class="card" id="graphique_temps">
                <img src="/static/graph_temps.png" alt="Graphique Pluie" style="max-width: 100%; height: auto;" class="graphique">
            </div>

            <div class="card" id="graphique_pression">
                <img src="/static/graph_pression.png" alt="Graphique Pression" style="max-width: 100%; height: auto;" class="graphique">
            </div>

            <div class="card" id="graphique_humidite">
                <img src="/static/graph_humidite.png" alt="Graphique Humidité" style="max-width: 100%; height: auto;" class="graphique">
            </div>

        </div>
    </div>




</body>

</html>