<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather station - About</title>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
</head>

<body>
    <!--side bar-->
    <nav>
        <img src="static\icone.png" alt="icone" id="logo" class="logo">
        <header>
            <hr>
            <a href="/"><h2>Home</h2></a>
            <hr>
            <ul>
                <li><a href="/">datas</a></li>
                <li><a href="about">About</a></li>
                <li><a href="statistical">statistical</a></li>
                <li><a href="history">history</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="https://github.com/pj43svh/MA-Metier-Station-Meteo">Github</a></li>
                <li><a href="https://cpnv.ch">Cpnv</a></li>
                <li><a href="https://trello.com/b/mbKZJSjJ/station-m%C3%A9t%C3%A9o-esp32-rpi">Trello</a></li>
            </ul>
            <hr>
        </header>
        <footer>
            <hr>
            <li><a href="/admin">admin panel</a></li>
        </footer>
    </nav>
    <div>
        <h1>ABOUT</h1>

        <div class="content">

                    <div class="card">
                        <h2>📌 Presentation</h2>
                        <div class="card-content">
                            <p>This project involves creating a connected weather station.
                                Data is measured by sensors, sent to a Raspberry Pi,
                                and then displayed on this web interface.</p>
                        </div>
                    </div>

                    <div class="card">
                        <h2>⚙️ Functioning</h2>
                        <div class="card-content">
                            <p>The ESP32 reads the sensors and transmits the measurements via Wi-Fi.
                                The Raspberry Pi receives the data and makes it available via an API,
                                so that the website can display it in real time.</p>
                        </div>
                    </div>

                    <div class="card">
                        <h2>🧪 Technologies</h2>
                        <div class="card-content">
                            <ul>
                                <li>ESP32 + weather sensor</li>
                                <li>Wifi (local Network)</li>
                                <li>Raspberry Pi (sever / API)</li>
                                <li>HTML / CSS / JavaScript</li>
                            </ul>

                        </div>
                    </div>

                    <div class="card">
                        <h2>👥 Group work</h2>
                        <div class="card-content">
                            <p>The project is carried out in a group with a division of tasks.</p>
                        </div>
                    </div>
        </div>





</body>

</html>