<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather station - History</title>
    <link rel="icon" type="image/x-icon" href="/static/icone.png">
</head>

<body>
    <!--side bar-->
    <nav>
        <img src="static/icone.png" alt="icone" id="logo" class="logo">
        <header>
            <hr>
            <a href="/">
                <h2>Home</h2>
            </a>
            <hr>
            <ul>
                <li><a href="/">Datas</a></li>
                <li><a href="about">About</a></li>
                <li><a href="statistical">Statistical</a></li>
                <li><a href="history">History</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="https://github.com/pj43svh/MA-Metier-Station-Meteo">Github</a></li>
                <li><a href="https://cpnv.ch">Cpnv</a></li>
                <li><a href="https://trello.com/b/mbKZJSjJ/station-m%C3%A9t%C3%A9o-esp32-rpi">Trello</a></li>
            </ul>
        </header>
        <footer>
            <hr>
            <li><a href="/admin">admin panel</a></li>
        </footer>
    </nav>
    <div>
        <h1>HISTORY</h1>

        <select name="date" id="date">
            <option value="today" selected>Today</option>
        </select>
        <input type="number" name="limit" id="limit" value="20" min="10" max="50">
        <input type="button" value="Refresh" id="refresh_btn">

        <div class="content">
            <section id="history1" class="card">
                <div class="history-card">
                    <h1>Sensor 1</h1>
                    <table id="history1-table" class="history-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Hour</th>
                                <th>Temperature</th>
                                <th>Humidity (%)</th>
                                <th>Pressure (hPa)</th>
                            </tr>
                        </thead>
                        <tbody id="history1-body" class="history-body">

                        </tbody>
                    </table>
                </div>
            </section>
            <section id="history2" class="card">
                <div class="history-card">
                    <h1>Sensor 2</h1>
                    <table id="history2-table" class="history-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Hour</th>
                                <th>Temperature</th>
                                <th>Humidity (%)</th>
                                <th>Pressure (hPa)</th>
                            </tr>
                        </thead>
                        <tbody id="history2-body" class="history-body">

                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div id="summary-container" class="summary-container">
            <div class="summary-box" id="summary1">
                <div class="date-center">
                    <span>Date: <span id="date1">-</span></span>
                </div>
                <div class="row">
                    <span>Température</span>
                    <span>Max: <span id="temp-max1">-</span>°C</span>
                    <span>Min: <span id="temp-min1">-</span>°C</span>
                </div>
                <div class="row">
                    <span>Humidité</span>
                    <span>Max: <span id="hum-max1">-</span>%</span>
                    <span>Min: <span id="hum-min1">-</span>%</span>
                </div>
                <div class="row">
                    <span>Pression</span>
                    <span>Max: <span id="press-max1">-</span>hPa</span>
                    <span>Min: <span id="press-min1">-</span>hPa</span>
                </div>
            </div>

            <div class="summary-box" id="summary2">
                <div class="date-center">
                    <span>Date: <span id="date2">-</span></span>
                </div>
                <div class="row">
                    <span>Température</span>
                    <span>Max: <span id="temp-max2">-</span>°C</span>
                    <span>Min: <span id="temp-min2">-</span>°C</span>
                </div>
                <div class="row">
                    <span>Humidité</span>
                    <span>Max: <span id="hum-max2">-</span>%</span>
                    <span>Min: <span id="hum-min2">-</span>%</span>
                </div>
                <div class="row">
                    <span>Pression</span>
                    <span>Max: <span id="press-max2">-</span>hPa</span>
                    <span>Min: <span id="press-min2">-</span>hPa</span>
                </div>
            </div>

        </div>
    </div>

    <script src="/static/js/carte.js"></script>
    <script src="/static/js/history.js"></script>

</body>

</html>